
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
  padding: 50px;
}

body {
  margin: 0;
}

main {
  max-width: 42em;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}
